.logo-container{
z-index:0;
width:350px;
height:609px;
opacity:0;
position:absolute;
top:0;
right:5%;
bottom:0;
left:auto;
margin:auto;
animation: rubberBand 1s 3s;
svg{
    width:100%;    
    height:auto;
    bottom:0;    
    transform: rotateZ(25deg) translate(-150px,150px) scale(1.25,1.75)   !important;
    position:absolute;
    top:40px;
}
.solid-logo{
    position:absolute;
    top:40px;
    right:auto;
    bottom:auto;
    left:0;
    margin:auto;
    width:100%;
    
   transform: rotateZ(25deg) translate(-150px,150px) scale(1.25,1.75)  !important;   
    z-index:1;
}
}
@media screen and (max-width:1284px) {
.logo-container{
    width:250px;
    top:10%;
    right:0;
}
}

@media screen and (max-width:938px) {
    .logo-container{
         width:180px;
        top:10%;   
}
   
}

@media screen and (max-width:856px) {

    .logo-container {
        .solid-logo{
        left:70px;
    }
    svg{
        left:70px;

    }

}

}
@media screen and (max-width:679px) {
.solid-logo{
    visibility:hidden;
}
.logo-container svg{
visibility:hidden;
}

}