.ePhFWBHn_0{stroke-dasharray:3072 3074;stroke-dashoffset:3073;animation:ePhFWBHn_draw 2996ms ease-in-out 0ms forwards;}@keyframes ePhFWBHn_draw{100%{stroke-dashoffset:0;}}@keyframes ePhFWBHn_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}

