

.page{
    width:100%;
    height:90%;
    position:absolute;
    margin:0;
    padding:0;
}

.top-tags{
    bottom:auto;
    top:35px;
}
.tags{
    color:white;
    opacity:0.6;
    position:absolute;
    bottom:3%;
    left:120px;
    font-size:18px;
    font-family:'La Belle Aurore';
}
.bottom-tags{
    top:auto;
    bottom:60px;
    
}

.bottom-tag-html{
    
    margin-left:-20px;
    margin-bottom: 10px;   
   
}

.container{
    width:100%;
    will-change:contents;
    height:90%;
    min-height:566px;
    position:absolute;
    opacity:0;
    top:5%;
    margin:0 auto;
    z-index:1;
   transform-style:preserve-3d;
   animation:fadeIn 1s forwards;  
animation-delay:1s;
}

.container.contact-page,
.container.about-page ,
.container.portfolio-page{

    .text-zone{
        position:absolute;
        left:10%;
        top:50%;
        transform:translateY(-50%);
        width:35%;
        vertical-align:middle;
        display:table-cell;
        max-height:90%;

  h1{
            font-size:53px;
            font-family:'Coolvetica';
            color:#87ceeb;
            font-weight:400;
            margin-top:0;
            position:relative;
            margin-bottom:40px;
            left:10px;

            &::before{
                content:'<h1>';
                font-family:'La Belle Aurore';
                font-size:18px;
                position:absolute;
                margin-top:-10px;
                left:-10px;
                opacity:.6;
                line-height:18px;
            }
            &::after{
                content:'<h1/>';
                font-family:'La Belle Aurore';
                font-size:18px;
                line-height:18px;
                position:absolute;
                left:-25px;
                bottom:-20px;
                margin-left:20px;
                opacity:0.6;
            }
        }
 
  p{
            font-size:13px;
            color:#fff;
            font-family:sans-serif;
            font-weight:300;
            min-width:fit-content;
            animation:pulse 1s;

            &:nth-of-type(1){
                animation-delay:1.1s;
            }
            &:nth-of-type(2){
                animation-delay:1.2s;
            }
            &:nth-of-type(3){
                animation-delay:1.3s;
            }
        }
    }   
       .text-animate-hover{
        &:hover{
           color:#fff; 
        }
    }
}
@media screen and (max-width:768px){
       
    .container.about-page{
        .text-zone{                    
                 position:absolute;
                  left:10%;
                  top:50%;
                  transform:translateY(-50%);
                  width:100%;                 
                  display:flex;
                  flex-direction:column;
                  max-height:80%;         
            max-width:80vw;         
          
         h1.about-page-head{
            margin-bottom:0px;
            font-size:43px;
           }
           p{
            font-size:2vmin;
           }
        }
    }
}

@media screen and (max-width:400px){
    .container.contact-page{
        .text-zone{ 
            h1{
            margin-bottom:0;
            font-size:43px;
            top:20px;
        }
        p{
           font-size:12px;
           padding-top:5px;
        }
    
        .contact-form 
        {
            input[type='text'],input[type='email']{
              
                height:34px; 
        }
        text-area{
            min-height:100px;
        }
        }
    }

    }
}
